﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Access Denied | SonicHRM</title>
    <link href="~/css/page-specific/403.css" rel="stylesheet"/>
</head>
<body>

<div class="scene">
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <div class="overlay"></div>
    <span class="bg-403">403</span>
    <div class="text">
        <span class="hero-text"></span>
        <span class="msg">can't let <span>you</span> in.</span>
        <span class="support">
            <span>unexpected?</span>
            <a href="#">contact support</a>
        </span>
    </div>
    <div class="lock"></div>
</div>

</body>
</html>
