﻿@using SonicHRM.DomainLogics
@using SonicHRM.Helpers
@model MenuPermissionViewModel

@inject AccountLogics AccountLogics
@inject MenuLogics MenuLogics

@{
    ViewData["Title"] = "Menu Permission";
    var employees = AccountLogics.GetAllEmployees();
}


<section class="content">
    <div class="row">
        @{
            if ((ViewAlertParam)ViewData["Alert"] != null)
            {
                await Html.RenderPartialAsync("_AlertPartial", (ViewAlertParam)ViewData["Alert"]);
            }
        }
        <!-- left column -->
        <div class="col-xs-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Employee Details</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form asp-action="MenuPermission">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="UserId" class="control-label"></label>
                            <select asp-for="UserId" class="form-control" onchange="loadPermittedMenues()">
                                <option value="0">Select Employee</option>
                                @foreach (var employee in employees)
                                {
                                    <option value="@employee.Id">@employee.Name</option>
                                }
                            </select>
                            <span asp-validation-for="UserId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MenuId" class="control-label"></label>
                            <select asp-for="MenuId">
                                <option value="0">Select Menu</option>
                                fo
                            </select>
                            <span asp-validation-for="MenuId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Current Salary Informations</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            @*<tr>
                                <th>@Html.DisplayNameFor(model => model.SalaryTitle)</th>
                                <th>@Html.DisplayNameFor(model => model.BasicSalary)</th>
                                <th>@Html.DisplayNameFor(model => model.HouseRentPercent)</th>
                                <th>@Html.DisplayNameFor(model => model.MedicalAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.ConveyenceAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.TravelAllowance)</th>
                                <th>Gross Salary</th>
                                <th>Action</th>
                            </tr>*@
                        </thead>
                        <tbody>
                            @*@foreach (var salary in salaries)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => salary.SalaryTitle)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.BasicSalary)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.HouseRentPercent)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.MedicalAllowancePercent)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.ConveyenceAllowancePercent)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.TravelAllowance)</td>
                                    <td>
                                        @(
                                                    salary.BasicSalary
                                                    + (salary.BasicSalary * (salary.HouseRentPercent / 100))
                                                    + (salary.BasicSalary * (salary.MedicalAllowancePercent / 100))
                                                    + (salary.BasicSalary * (salary.ConveyenceAllowancePercent / 100))
                                                    + (salary.BasicSalary * (salary.TravelAllowance / 100))
                                        )
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                            }*@
                        </tbody>
                        <tfoot>
                            @*<tr>
                                <th>@Html.DisplayNameFor(model => model.SalaryTitle)</th>
                                <th>@Html.DisplayNameFor(model => model.BasicSalary)</th>
                                <th>@Html.DisplayNameFor(model => model.HouseRentPercent)</th>
                                <th>@Html.DisplayNameFor(model => model.MedicalAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.ConveyenceAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.TravelAllowance)</th>
                                <th>Gross Salary</th>
                                <th>Action</th>
                            </tr>*@
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        function loadPermittedMenues() {
            var userId = document.getElementById('UserId').value;
            console.log(userId);
            $.ajax({
                type: 'GET',
                url: 'GetPermittedMenues',
                dataType: 'json',
                data: { userId: userId },
                // success is called when dataset returns
                success: function (p) {
                    //console.log(p);
                    // Populate with each returned member
                    //$.each(p,
                    //    function(i, pr) {
                    //        tgt.append(
                    //            '<option value="' +
                    //            pr.Value +
                    //            '">' +
                    //            pr.Text +
                    //            '</option>'
                    //        );
                    //    });
                }
            });
        }
    </script>
}
