﻿@using SonicHRM.DomainLogics
@using SonicHRM.Helpers
@model SonicHRM.Models.ApplicationModels.Salary
@inject SalaryLogics SalaryLogics

@{
    ViewData["Title"] = "Salary Setup";
    var salaries = SalaryLogics.GetAllSalaryInfo();
}

<section class="content">
    <div class="row">
        @{
            if ((ViewAlertParam)ViewData["Alert"] != null)
            {
                await Html.RenderPartialAsync("_AlertPartial", (ViewAlertParam)ViewData["Alert"]);
            }
        }
        <!-- left column -->
        <div class="col-xs-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Employee Details</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form asp-action="SalarySetup">
                    <div class="box-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="SalaryTitle" class="control-label"></label>
                            <input asp-for="SalaryTitle" class="form-control" />
                            <span asp-validation-for="SalaryTitle" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="BasicSalary" class="control-label"></label>
                            <input asp-for="BasicSalary" class="form-control" />
                            <span asp-validation-for="BasicSalary" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="HouseRentPercent" class="control-label"></label>
                            <input asp-for="HouseRentPercent" class="form-control" />
                            <span asp-validation-for="HouseRentPercent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MedicalAllowancePercent" class="control-label"></label>
                            <input asp-for="MedicalAllowancePercent" class="form-control" />
                            <span asp-validation-for="MedicalAllowancePercent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ConveyenceAllowancePercent" class="control-label"></label>
                            <input asp-for="ConveyenceAllowancePercent" class="form-control" />
                            <span asp-validation-for="ConveyenceAllowancePercent" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TravelAllowance" class="control-label"></label>
                            <input asp-for="TravelAllowance" class="form-control" />
                            <span asp-validation-for="TravelAllowance" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </form>
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">Current Salary Informations</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.SalaryTitle)</th>
                                <th>@Html.DisplayNameFor(model => model.BasicSalary)</th>
                                <th>@Html.DisplayNameFor(model => model.HouseRentPercent)</th>
                                <th>@Html.DisplayNameFor(model => model.MedicalAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.ConveyenceAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.TravelAllowance)</th>
                                <th>Gross Salary</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var salary in salaries)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => salary.SalaryTitle)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.BasicSalary)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.HouseRentPercent)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.MedicalAllowancePercent)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.ConveyenceAllowancePercent)</td>
                                    <td>@Html.DisplayFor(modelItem => salary.TravelAllowance)</td>
                                    <td>
                                        @(
                                            salary.BasicSalary
                                            + (salary.BasicSalary * (salary.HouseRentPercent / 100))
                                            + (salary.BasicSalary * (salary.MedicalAllowancePercent / 100))
                                            + (salary.BasicSalary * (salary.ConveyenceAllowancePercent / 100))
                                            + (salary.BasicSalary * (salary.TravelAllowance / 100))
                                        )
                                    </td>
                                    <td>
                                        @*@Html.ActionLink("Edit", "Edit", new { id = employee.Id }) |
                                            @Html.ActionLink("Details", "Details", new { id = employee.Id }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = employee.Id })*@
                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.SalaryTitle)</th>
                                <th>@Html.DisplayNameFor(model => model.BasicSalary)</th>
                                <th>@Html.DisplayNameFor(model => model.HouseRentPercent)</th>
                                <th>@Html.DisplayNameFor(model => model.MedicalAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.ConveyenceAllowancePercent)</th>
                                <th>@Html.DisplayNameFor(model => model.TravelAllowance)</th>
                                <th>Gross Salary</th>
                                <th>Action</th>
                            </tr>
                        </tfoot>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">

    </script>
}
